.card {
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.205);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-color: bisque;
}

.card:hover {
    transform: scale(1.005);
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 5px 0px;
}

.debug {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    font-size: 18rem;
    color: red;
    transform: translate(-50%, -50%);
}
.img {
    height: 300px;
    overflow: hidden;
    width: 300px;
}
img {
    width: 100%;
    object-fit: cover;
}
img[src$=".svg"] {
    width: 40%;
    margin: 30%;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0.8;
        transform: scale(1.5) translate(-250px, -100px);
        opacity: 1;
    }
}

.new-card {
    animation: entrance 300ms ease-in-out;
}

@media screen and (max-width: 1000px) {
    .img {
        height: unset;
        width: unset;
        max-height: 240px;
    }

    img {
        width: 100%;
    }
    p {
        max-height: 30px;
        font-size: 1rem;
    }
}
