.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(37, 143, 108, 0.623);
    border: 1px solid rgb(37, 143, 108);
}

.score p {
    text-align: right;
    font-size: 1.5rem;
    margin-top: 0px;
}

@media screen and (max-width: 1000px) {
    .score p {
        font-size: 1.3rem;
    }
}
