html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.amount {
    margin: 10px 0 0 10px;
}
.score {
    margin-top: -15px;
}

select {
    padding: 5px;
}