html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

select {
    padding: 5px;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(70, 70, 70, 0.664);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop p {
    background-color: rgba(32, 177, 129, 0.945);
    padding: 150px;
    border-radius: 50px;
    font-size: 2rem;
    margin-bottom: 150px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #99d2bf;
    
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 5px;
}

@media screen and (max-width: 1000px) {
    .backdrop p {
        padding: 70px 40px;
    }
}

button {
    cursor: pointer;
}

#root {
    position: relative;
    min-width: 240px;
    min-height: 100vh;
    background-color: antiquewhite;
}

@media screen and (max-width: 300px) {
    div[class*="IndicatorsContainer"] {
        display: none;
    }
}
