html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.amount {
    margin: 10px 0 0 10px;
}
.score {
    margin-top: -15px;
}

select {
    padding: 5px;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(70, 70, 70, 0.664);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop p {
    background-color: rgba(32, 177, 129, 0.945);
    padding: 150px;
    border-radius: 50px;
    font-size: 2rem;
    margin-bottom: 150px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    img {
        width: 100%;
    }
    p {
        max-height: 30px;
        font-size: 1rem !important;
    }
    header {
        display: flex;
        justify-content: space-around;
    }
    .score {
        margin-top: 0;
    }
    .amount {
        margin: 5px 0 0 0;
    }
    .backdrop p {
        padding: 70px 40px;
    }
    
}
